.fairy-follower {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(218, 230, 173, 0.9), rgba(229, 255, 0, 0.4));
  pointer-events: none;
  box-shadow: 0 0 15px 5px rgba(173,216,230,0.7);
  mix-blend-mode: screen;
  transition: transform 0.1s ease-out;
  z-index: 9999;
}
